.list-container {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;

}

.mx-auto {
    border-radius: 25px;
    width: 400px;
    padding-right: 10px;
    padding-bottom: 10px;
}

#title {
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}

#chart {
    height: 250px;
}

text {
    font: 12px sans-serif;
}

svg {
    display: block;
}