<div class="dashboard">
    <div class="sideBar visible">
        <div class="menu">
            <v-icon id="icon1" @click="slide">chevron_left</v-icon>
            <v-icon id="icon2" @click="slide">chevron_right</v-icon>
        </div>
        <v-list class="list" shaped flat>
            <v-list-item-group multiple>
                <draggable :list="charts" :disabled="!enabled" class="list-group" ghost-class="ghost"
                    @start="dragging=true" @end="dragging=false">
                    <v-checkbox class="black-label" v-for="(chart,id) in charts" :key="id" v-model="chart.select" :label="chart.name"></v-checkbox>
                </draggable>
            </v-list-item-group>
        </v-list>
    </div>
    <div class="charts">
        <draggable :list="charts" :disabled="!enabled" class="list-group" ghost-class="ghost" @start="dragging=true"
            @end="dragging=false">
            <DashboardChart v-for="(chart,id) in charts" :key="chart.id" v-if="chart.select" :name="chart.name" :dataType="chart.dataType" :sidebarOpen="sidebarOpen"/>
        </draggable>
    </div>
</div>