<div>
    <div class="sideBar visible">
        <div class="menu">
            <v-icon @click="slide">menu</v-icon>
        </div>

        <v-list shaped>
            <v-list-item-group multiple>
                    <v-list-item value="PM2.5" active-class="deep-purple--text text--accent-4">
                        <template>
                            <v-list-item-content>
                                <v-list-item-title>{{chartnames[0]}}</v-list-item-title>
                            </v-list-item-content>

                            <v-list-item-action>
                                <v-checkbox input-value="active" v-model="pm2_5" color="deep-purple accent-4"></v-checkbox>
                            </v-list-item-action>
                        </template>
                    </v-list-item>

                    <v-list-item value="PM1" active-class="deep-purple--text text--accent-4">
                        <template>
                            <v-list-item-content>
                                <v-list-item-title>{{chartnames[1]}}</v-list-item-title>
                            </v-list-item-content>

                            <v-list-item-action>
                                <v-checkbox input-value="active" v-model="pm1" color="deep-purple accent-4"></v-checkbox>
                            </v-list-item-action>
                        </template>
                    </v-list-item>

                    <v-list-item value="PM10" active-class="deep-purple--text text--accent-4">
                        <template>
                            <v-list-item-content>
                                <v-list-item-title>{{chartnames[2]}}</v-list-item-title>
                            </v-list-item-content>

                            <v-list-item-action>
                                <v-checkbox input-value="active" v-model="pm10" color="deep-purple accent-4"></v-checkbox>
                            </v-list-item-action>
                        </template>
                    </v-list-item>

                    <v-list-item value="Dewpoint" active-class="deep-purple--text text--accent-4">
                        <template>
                            <v-list-item-content>
                                <v-list-item-title>{{chartnames[3]}}</v-list-item-title>
                            </v-list-item-content>

                            <v-list-item-action>
                                <v-checkbox input-value="active" v-model="dewpoint" color="deep-purple accent-4"></v-checkbox>
                            </v-list-item-action>
                        </template>
                    </v-list-item>

                    <v-list-item value="Humidity" active-class="deep-purple--text text--accent-4">
                        <template>
                            <v-list-item-content>
                                <v-list-item-title>{{chartnames[4]}}</v-list-item-title>
                            </v-list-item-content>

                            <v-list-item-action>
                                <v-checkbox input-value="active" v-model="humidity" color="deep-purple accent-4"></v-checkbox>
                            </v-list-item-action>
                        </template>
                    </v-list-item>

                    <v-list-item value="Pressure" active-class="deep-purple--text text--accent-4">
                        <template>
                            <v-list-item-content>
                                <v-list-item-title>{{chartnames[5]}}</v-list-item-title>
                            </v-list-item-content>

                            <v-list-item-action>
                                <v-checkbox input-value="active" v-model="pressure" color="deep-purple accent-4"></v-checkbox>
                            </v-list-item-action>
                        </template>
                    </v-list-item>

                    <v-list-item value="Temperature" active-class="deep-purple--text text--accent-4">
                        <template>
                            <v-list-item-content>
                                <v-list-item-title>{{chartnames[6]}}</v-list-item-title>
                            </v-list-item-content>

                            <v-list-item-action>
                                <v-checkbox input-value="active" v-model="temperature" color="deep-purple accent-4"></v-checkbox>
                            </v-list-item-action>
                        </template>
                    </v-list-item>
            </v-list-item-group>
        </v-list>
    </div>
    <div>
        <h1 id="test1">1111111111111111111111111111111111</h1>
        <h1 id="test2">2222222222222222222222222222222222</h1>
        <h1 id="test3">3333333333333333333333333333333333</h1>
        <h1 id="test4">4444444444444444444444444444444444</h1>
        <h1 id="test5">5555555555555555555555555555555555</h1>
        <h1 id="test6">6666666666666666666666666666666666</h1>
        <h1 id="test7">7777777777777777777777777777777777</h1>
    </div>
</div>