<div class="dashboard">
    <div class="sideBar visible">
        <div class="menu">
            <v-icon @click="slide">menu</v-icon>
        </div>

        <v-list shaped>
            <v-list-item-group multiple>
                    <v-list-item value="PM2.5" active-class="deep-purple--text text--accent-4">
                        <template>
                            <v-list-item-content>
                                <v-list-item-title>{{chartNames[0]}}</v-list-item-title>
                            </v-list-item-content>

                            <v-list-item-action>
                                <v-checkbox input-value="active" v-model="pm2_5" color="deep-purple accent-4"></v-checkbox>
                            </v-list-item-action>
                        </template>
                    </v-list-item>

                    <v-list-item value="PM1" active-class="deep-purple--text text--accent-4">
                        <template>
                            <v-list-item-content>
                                <v-list-item-title>{{chartNames[1]}}</v-list-item-title>
                            </v-list-item-content>

                            <v-list-item-action>
                                <v-checkbox input-value="active" v-model="pm1" color="deep-purple accent-4"></v-checkbox>
                            </v-list-item-action>
                        </template>
                    </v-list-item>

                    <v-list-item value="PM10" active-class="deep-purple--text text--accent-4">
                        <template>
                            <v-list-item-content>
                                <v-list-item-title>{{chartNames[2]}}</v-list-item-title>
                            </v-list-item-content>

                            <v-list-item-action>
                                <v-checkbox input-value="active" v-model="pm10" color="deep-purple accent-4"></v-checkbox>
                            </v-list-item-action>
                        </template>
                    </v-list-item>

                    <v-list-item value="Dewpoint" active-class="deep-purple--text text--accent-4">
                        <template>
                            <v-list-item-content>
                                <v-list-item-title>{{chartNames[3]}}</v-list-item-title>
                            </v-list-item-content>

                            <v-list-item-action>
                                <v-checkbox input-value="active" v-model="dewpoint" color="deep-purple accent-4"></v-checkbox>
                            </v-list-item-action>
                        </template>
                    </v-list-item>

                    <v-list-item value="Humidity" active-class="deep-purple--text text--accent-4">
                        <template>
                            <v-list-item-content>
                                <v-list-item-title>{{chartNames[4]}}</v-list-item-title>
                            </v-list-item-content>

                            <v-list-item-action>
                                <v-checkbox input-value="active" v-model="humidity" color="deep-purple accent-4"></v-checkbox>
                            </v-list-item-action>
                        </template>
                    </v-list-item>

                    <v-list-item value="Pressure" active-class="deep-purple--text text--accent-4">
                        <template>
                            <v-list-item-content>
                                <v-list-item-title>{{chartNames[5]}}</v-list-item-title>
                            </v-list-item-content>

                            <v-list-item-action>
                                <v-checkbox input-value="active" v-model="pressure" color="deep-purple accent-4"></v-checkbox>
                            </v-list-item-action>
                        </template>
                    </v-list-item>

                    <v-list-item value="Temperature" active-class="deep-purple--text text--accent-4">
                        <template>
                            <v-list-item-content>
                                <v-list-item-title>{{chartNames[6]}}</v-list-item-title>
                            </v-list-item-content>

                            <v-list-item-action>
                                <v-checkbox input-value="active" v-model="temperature" color="deep-purple accent-4"></v-checkbox>
                            </v-list-item-action>
                        </template>
                    </v-list-item>
            </v-list-item-group>
        </v-list>
    </div>
    <div>
        <DashboardChart v-if="pm2_5" dataType="pm2_5"/>
        <DashboardChart v-if="pm1" dataType="pm1"/>
        <DashboardChart v-if="pm10" dataType="pm10"/>
        <DashboardChart v-if="dewpoint" dataType="dewpoint"/>
        <DashboardChart v-if="humidity" dataType="humidity"/>
        <DashboardChart v-if="pressure" dataType="pressure"/>
        <DashboardChart v-if="temperature" dataType="temperature"/>
    </div>
</div>