<v-card>
    <v-card-title class="headline">
        <v-layout>
            <v-flex xs10>About</v-flex>
            <v-flex xs2 class="text-right">
                <v-icon @click="$emit('close')">mdi-close</v-icon>
            </v-flex>
        </v-layout>
    </v-card-title>

    <v-card-text>
        <p class="text-justify">
            Under the working title of “
            <b>SharedAirDFW</b>” over 100 new custom-built air quality monitors are being distributed throughout the DFW
            region in the next 12 months that will be able to give residents real time information about the air they
            breathe for the first time. When it’s up and running,
            <b>it’ll be the first network of its kind in Texas and one of the largest in the U.S.</b>
            <br />
            <br />Based out of the
            <b>University of Texas at Dallas</b> laboratories and built and calibrated by its graduate and undergraduate
            students, and supported by grants from the NSF, Earth Day Texas, the US Army, Downwinders at Risk, the City
            of Plano, TX, and the US EPA. These monitors will offer real time information every few seconds through a
            <b>easily accessible app.</b> In addition, all data is made available in
            <b>real-time.</b>
            <br />
            <br />Right now a handful of official EPA regulatory grade monitors provide hourly average air quality
            information with a latency of a few hours behind real time conditions.
            <b>SharedAirDFW will increase the number of calibrated air quality monitors in DFW by a factor of about
                forty while giving readings updated every few seconds.</b>
            <br />
            <br />Some of the first monitor deployments will be across the campus of UT Dallas in Joppa (South Dallas),
            West Dallas, and Midlothian, around Paul Quinn College for the Southern Dallas neighborhoods surrounding its
            campus, and across the City of Plano.
        </p>
    </v-card-text>
</v-card>