.side-window {
    position: absolute;
    top: 0px;
    right:50px;
    z-index: 1000;
    width: 300px;
}

.side-drawer {
    position: absolute;
    top: 0px;
    z-index: 999;
    background: white;
    margin: 10px;
    .scale{
        background-color: #38b5e6;
        margin-left: -25px;
        margin-right: -25px;
        margin-top: 10px;
        img{
            width: 100%;
        }
    }
}