.side-window {
    position: absolute;
    top: 0px;
    right: 60px;
    z-index: 1000;
    width: 400px;
}

.side-drawer {
    position: absolute;
    top: 0px;
    z-index: 999;
    background: white;
    margin: 10px;

    .scale {
        background-color: #38b5e6;
        margin-left: -25px;
        margin-right: -25px;
        margin-top: 10px;

        img {
            width: 100%;
        }
    }

    .menu-container {
        position: absolute;
        right: -25px;
        background: white;
        cursor: pointer;
        padding-left: 5px;

        i {
            color: #38b5e6;
        }
    }
}