<v-card>
    <v-card-title class="headline">
        <v-layout>
            <v-flex xs10>What is Particulate Matter?</v-flex>
            <v-flex xs2 class="text-right">
                <v-icon @click="$emit('close')">mdi-close</v-icon>
            </v-flex>
        </v-layout>
    </v-card-title>

    <v-card-text>
        <p class="text-justify">
            Particulate matter are microscopic solid or liquid matter suspended in the air. They have impacts on climate
            and
            precipitation that adversely affect human health, in addition to direct inhalation. Particulate matter
            smaller
            than about 10 micrometers, can settle in the bronchi and lungs and cause health problems. Fine particulate
            matter (PM2.5), tend to penetrate into the gas exchange regions of the lung, and very small particles may
            pass
            through the lungs to affect other organs.
        </p>
    </v-card-text>
</v-card>